body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 98vh;
  background-image: url("https://images.unsplash.com/photo-1554050857-c84a8abdb5e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=654&q=80");
}

.App-header {
  background-color: black;
  overflow: visible;
  width: 100%;
  text-align: center;
  color: #b8a9c9;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: small;
  opacity: 0.5;
}

.Messages-list {
  padding: 15px 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
}

.Messages-message.currentMember {
  /*justify-content: flex-end;*/
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
}

.currentMember > .Message-content {
  align-items: flex-end;
}

.Messages-message > .avatar {
  height: 22px;
  width: 22px;
  border-radius: 45%;
  display: inline-block;
  margin: 0 7px -7px;
}

.Message-content > .username {
  display: block;
  color: gray;
  font-size: 14px;
  padding-bottom: 4px;
}

.Message-content > .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 13px;
  background-color: #92a8d1;
  color: black;
  display: inline-block;
}

.currentMember > .Message-content .text {
  background-color: #ffef96;
}

form {
  display: flex;
  width: 94%;
  justify-content: space-between;
  max-width: 875px;
  margin: 0 auto 40px;
}

input {
  padding: 5px;
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid blue;
  flex-grow: 1;
  background-color: aliceblue;
}

button {
  padding: 7px 10px;
  font-size: 16px;
  background-color: #b8a9c9;
  color: black;
  border: none;
  border-radius: 8px;
  margin-left: 9px;
}
